@charset "utf-8";
/*-- 测试样式  start--*/
div.container {
  border: #000000 solid 1px;
}
.main {
  min-height: 200px;
}
/*-- 测试样式  end--*/
/*-- 公共注释  start--*/
body {
  font-size: 12px;
  min-width: 500px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
header,
footer {
  background: rgba(229, 229, 229, 0.44);
}
/*-- 公共注释  end--*/
/*-- 游客公共部分  start--*/
/*-- top部分 --*/
.top {
  height: 40px;
  line-height: 40px;
  color: #c7cccc;
  background: #343434;
}
/*-- logo-search部分 --*/
.logo {
  /*-- logo部分 --*/
  width: 200px;
  height: 50px;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../imgs/logo.jpg') no-repeat;
  text-indent: -2000em;
}
.search {
  width: 250px;
  padding: 20px 0 20px 0;
}
/*-- 游客公共部分  end--*/
