@charset "utf-8";

/*-- 公共注释  start--*/
body{
    font-size:16px;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
/*-- 公共注释  end--*/
/*-- 游客公共部分  start--*/
.top{
    height:60px;
    line-height:60px;
    color: #c7cccc;
    background: #343434;
}
/*-- 游客公共部分  end--*/